.container {
    margin-right: 20rem;
    margin-left: 20rem;
}

.botao_icone {
    border: none;
    background-color: #0f172a;
}

.botao_icone:hover {
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .container {
      margin: 0em 0em;
    }

}
